.border-radius() {
	border-radius: 3px;
}
.a() {
	color: @link-color;
	text-decoration: none;
	outline: none;
}
.p() {
	
}
.h1() {	
	font-size: 30px;
  	line-height: 36px;
  	line-height: 1.2;
}
.h2() {	
	font-size: 24px;
	line-height: 36px;
	line-height: 1.2;
}
.h3() {	
	line-height: 27px;
	font-size: 18px;
	line-height: 1.2;
}
.h4() {	
	font-size: 14px;
	line-height: 18px;
	line-height: 1.2;
}
.h5() {	
	font-size: 12px;
	line-height: 18px;
	line-height: 1.2;
}
.h6() {	
	font-size: 11px;
	line-height: 18px;
	line-height: 1.2;
}
.create-grid(@size) {
	.grid-@{size} {
		float: left;
		width: unit(@size,~"%");
	}
}
.create-padding-left(@size) {
	.pl-@{size} {
		padding-left: unit(@size,px);
	}
}
.create-padding-right(@size) {
	.pr-@{size} {
		padding-right: unit(@size,px);
	}
}
.create-padding-top(@size) {
	.pt-@{size} {
		padding-top: unit(@size,px);
	}
}
.create-padding(@size) {
	.p-@{size} {
		padding: unit(@size,px);
	}
}
.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}
// Transformations
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
      -ms-transform: scale(@ratio); // IE9 only
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.scale(@ratioX; @ratioY) {
  -webkit-transform: scale(@ratioX, @ratioY);
      -ms-transform: scale(@ratioX, @ratioY); // IE9 only
       -o-transform: scale(@ratioX, @ratioY);
          transform: scale(@ratioX, @ratioY);
}
.scaleX(@ratio) {
  -webkit-transform: scaleX(@ratio);
      -ms-transform: scaleX(@ratio); // IE9 only
       -o-transform: scaleX(@ratio);
          transform: scaleX(@ratio);
}
.scaleY(@ratio) {
  -webkit-transform: scaleY(@ratio);
      -ms-transform: scaleY(@ratio); // IE9 only
       -o-transform: scaleY(@ratio);
          transform: scaleY(@ratio);
}
.skew(@x; @y) {
  -webkit-transform: skewX(@x) skewY(@y);
      -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
       -o-transform: skewX(@x) skewY(@y);
          transform: skewX(@x) skewY(@y);
}