@import '../../styles/variables';

.hero-profile{
  position: relative;
  padding-right: 200px;
  .hero-avatar {
    position: absolute;
    border-radius: 9999em;
    width: 80px;
    height: 80px;
    overflow: hidden;
    right: 0;
    top: 0;
  }
  .profile-name {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0;
  }
  .profile-position {
    padding-top: 4px;
    color: rgba(0,0,0,.6);
  }
  .profile-desc {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media( max-width: $breakpoint-xs){
  .hero-profile {
    padding-right: 0;
    .profile-desc {
      padding-top: 0;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}