@mixin scroll {
  scroll-behavior: smooth;
  
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }
  &:hover::-webkit-scrollbar-thumb {
    transition: all 0.2ms ease-in-out;
    background: var(--scrollbar-thumb-hover);
  }
}

@mixin mobile { @media (max-width: var(--breakpoint-xs)) {     
  @content;   
 } 
}  

@mixin tablet { @media (max-width: var(--breakpoint-sm)) {       
   @content;   
 } 
}  

@mixin desktop { @media (min-width: var(--breakpoint-980)) {     
  @content;  
 } 
}