@mixin scroll {
	&::-webkit-scrollbar {
	  width: 13px;
	  height: 13px;
	}
	&::-webkit-scrollbar-track {
	  background: #ccc;
	  border-radius: 99em;
	}
	&::-webkit-scrollbar-corner {
	  background: #ccc;
	  border-radius: 99em;
	}
  
	&::-webkit-scrollbar-thumb {
	  background: #01A1B1;
	  border-radius: 99em;
	}
}
  