@import '../../styles/variables';

.bio {
  .bio-wrapper{
    display: block;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .bio-img {
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 999em;
      overflow: hidden;
      margin-right: 15px;
    }
    .bio-content {
      overflow: hidden;
    }
    .bio-name {
      font-size: 16px;      
    }
    .bio-desc {
      color: $muted;
    }
  }
}