// Variables
@import '../../styles/_variables';

.home-hero{
	margin-bottom: 30px;
	.js-height-full{
		min-height: 400px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: relative;
	}
	.home-text{
		width: 45%;
		position: absolute;
		left: 40px;
		top: 40px;
		bottom: 40px;
		.hero-title {			
			font-size: 40px;
		}
		.hero-desc {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}