// Variables
@import '../../styles/_variables';

.toolbarComponent {
  position: relative;
  z-index: 8;
}
.toolbar {
  border-bottom: 1px solid $border-color;
  .toolbar-inner {
    
  }
  .top-nav.nav.navbar-nav {
    border-left: 1px solid $border-color;
    > li {
      border-right: 1px solid $border-color;
      &.active{
        > a {
          background: $primary-color;
          color: #fff;
        }
      }
      > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 35px;
        color: $muted;
        &:hover,
        &:focus {
          background: $primary-color;
          color: #fff;
        }
      }
      .dropdown-menu{
        border-color: $border-color;
        border-top-color: $primary-color;
        border-top-width: 4px;
        > li {
          &:hover {
            
          }
          > a{
            &:hover,
            &:focus {
              background: transparent;  
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .topnote {
    line-height: 35px;
  }
}
@media(max-width:$breakpoint-xs){
  .toolbar{
    .navbar-nav{
      margin-top: 0;    
      bottom: 0;
    }  
  }
}