// Variables
@import '../../styles/_variables';

/* Footer
-------------------------------------------------------------- */
.footer {

  color: #f2f2f2;
  font-family: $monospace;
  line-height: 20px;  
  position: absolute;
  font-size: $font-size-base;
  bottom: 0;
  width: 100%;
  .footer-inner {
    padding: $glutter 0;
    a {      
      color: #f2f2f2;
    }
    .link-youtube {
      color: $google;
      font-weight: bold;
      font-family: $san-serif;
    }
  }
  .copyright {
    float: left;
    width: 50%;
  }
  .credit {
    float: right;
    width: 50%;
    text-align: right;
  }
}
@media(max-width:$breakpoint-xs){
  .footer {
    .copyright,
    .credit{
      float: none;
      width: auto;
      text-align: center;
      font-size: $font-size-small;
    }
  }
}
/* Footer --------------------------------------------- */