@import '../../styles/variables';
.widget-container {
	padding-right: 25px;
	.inner {
		
	}
	.widget-title {		
		position: relative;
		font-weight: 100;
		font-size: 28px;
		line-height: .5;
		padding-top: 20px;
		padding-bottom: 30px;
		a {
			color: $muted;
			font-weight: 100;
		}

	}
	.wiget-toggle-control {
		font-style: italic;
		cursor: pointer;
		position: absolute;
		font-size: 12px;
		right: 0;
		top: 8px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&.collapsed {
			
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg)
		}
	}
	.widget-body {
		padding-left: 12px;
	}
}


