	<div class="post-nav">
		
	    <div role="navigation" class="navigation post-navigation">
	        <a rel="next" href="about.html">
	        <span title="Athens Food Festival 2015" class="prev-link trans">
		        <span class="inner">
		        <span class="icomoon">&#xea44;</span>
		        <span class="letters trans ">About</span></span>
	        </span>
	        </a>
	        <a rel="prev" href="contact.html">
		        <span title="Boat trip to Aegina, Poros, Hydra or Agistri" class="next-link trans">
			        <span class="inner">
			        <span class="icomoon">&#xea42;</span>
			        <span class="letters trans ">Contact</span>
			        </span>
		        </span>
	        </a>
	        <div class="clear"></div>
	    </div><!-- navigation -->

	</div><!-- post-nav -->

	<div class="footer">
		<div class="footer-inner">
			<div class="container">				
				<div class="copyright-text">
					 © 2015	Bellow Photo Booth
					 <a class="top-page" href="#top"><span class="icon-circle-up"></span></a>
				</div> <!-- copyright -->				
			</div> <!-- container -->
		</div> <!-- / footer-inner -->
	</div> <!-- / footer -->
</body>
</html>