<div class="section gallery-zone">
	<div class="g-list clearfix">
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item hidden-md">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
		<div class="g-item hidden-md">
			<a class="g-link-cover" href="gallery-detail.html">
				<span class="g-cover-img">
					<img src="http://placehold.it/400x400" alt="">
				</span>
				<span class="g-title">
					Lorem ipsum dolor sit amet
				</span>
			</a>
		</div> <!-- g-item -->
	</div> <!-- g-list -->
</div> <!-- gallery-zone -->