// Variables
@import '../../styles/_variables';

.card-block {    
    margin-bottom: 40px;
    .card-figure{     
        cursor: pointer;   
        position: relative;
        > a {
            display: block;
        }
        &:before {
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            position: absolute;
            border: 8px solid $bg-gray;
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &:hover{
            &:before{
                border-color: transparent;
            }
        }
    }
    .card-title{
        text-align: center;
        a{
            display: block;            
        }        
        h3 {
            font-weight: 600;
        }
    }
	.card-footer{
        display: none;
        .grid-50 {
            float: left;
            width: 50%;
        }  
    }
      
}
@media(max-width:$breakpoint-sm){
    .card-block{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        .card-title {
            h3 {
                margin-top: 10px;
            }
        }
    }    
}