// Variables
@import '../../styles/_variables';

.portfolio-list {	
	.grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
		.grid__item {
			width: 48%;
		}
	}
	.card-portfolio-body {
		
		.card-portfolio-title {
			padding-top: 8px;
			a {
				display: block;				
				color: #82888a;	
				i{
					padding-left: 7px;
				}
				&:hover,
				&:focus {
					text-decoration: none;
					color: $secondary-color;
				}
			}		
		}
	}
	.post-meta {
		.post-category {
			a {
				margin-left: 0;
				margin-right: 8px;
				background: transparent;
				border: 1px solid #82888a;
				border-radius: 0;
				line-height: 19px;
				height: 21px;		
				border-right: 4px solid $primary-color;
				padding-right: 10px;
				&:after {
					display: none;
				}		
			}
		}
	}
	.card-portfolio-footer {
		padding-top: 15px;
		padding-bottom: 40px;
	}
}