// Variables
@import '../../styles/_variables';

.tag-list {
  margin: 0;
  padding: 0;
  li {
		display: block;
    margin-bottom: 5px;
    color: $muted;
    a {   
      text-transform: uppercase;    
      background: $bg-gray;
      border-radius: 3px 0 0 3px;
      color: $muted;
      display: inline-block;
      height: 26px;
      font-size: 12px;
      line-height: 26px;
      padding: 0 20px 0 23px;
      position: relative;     
      text-decoration: none;
      -webkit-transition: color 0.2s;
      &:before{
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      &:after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid $bg-gray;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
      &:hover{
        background-color: darken($bg-gray,5%);
        &:after {
          border-left-color: darken($bg-gray,5%); 
        }
      }
    }
	}
}