// Variables
@import '../../styles/_variables';

.header {    
  .container {
    .container-inner {
      box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    }
  }
  .navbar.navbar-default{
    background: #fff;
    border: none;
    margin-bottom: 0;
    .navbar-nav>.current-menu-item>a, 
    .navbar-nav>.current-menu-item>a:focus, 
    .navbar-nav>.current-menu-item>a:hover {      
      color: #000;
    }
    .navbar-nav a.active {
      color: #000;
    }

    .navbar-nav {
      > li {       
        > a{
          text-transform: uppercase;
          color: $muted;
          font-family: $serif;          
        }
      }
    }
  }
  .navbar-brand{
    padding: 5px 15px;
    display: flex;
    align-items: center;
    z-index: 99;
    position: relative;
    img{
      width: 30px;
    }
  }
  .navbar-form.search-box {
    font-size: 0;
    .form-group {
      .form-control{
        border-radius: 5px 0 0 5px;
        border-right: none;
        border-color: darken($border-color,15%);
        box-shadow: inset 0 3px 5px rgba(150,157,174,0.2), 0 1px 0 #fff;
      }      
    }
    .btn {
        border-radius: 0 5px 5px 0;
        border-color: darken($border-color,15%);
        background-color: #edeff3;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFEDEFF3',endColorstr='#FFDEE1E9');
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#edeff3),color-stop(50%,#f6f7f9),color-stop(51%,#e7eaef),color-stop(100%,#edeff3));
        background-image: -webkit-linear-gradient(top,#edeff3 0,#f6f7f9 50%,#e7eaef 51%,#edeff3 100%);
        background-image: -moz-linear-gradient(top,#edeff3 0,#f6f7f9 50%,#e7eaef 51%,#edeff3 100%);
        background-image: -o-linear-gradient(top,#edeff3 0,#f6f7f9 50%,#e7eaef 51%,#edeff3 100%);
        background-image: linear-gradient(top,#edeff3 0,#f6f7f9 50%,#e7eaef 51%,#edeff3 100%);
      i{
        color: #596377;
        font-size: 16px;
        font-weight: bold;
        line-height: 12px;
      }
    }
  }
  .collapsed {
    .hamburger {
      .line:nth-child(2){
        opacity: 1;  
      } 
      .line:nth-child(1){
        -webkit-transform: translateY(0px) rotate(0deg);
        -ms-transform: translateY(0px) rotate(0deg);
        -o-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
      }
      .line:nth-child(3){
        -webkit-transform: translateY(0px) rotate(0deg);
        -ms-transform: translateY(0px) rotate(0deg);
        -o-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
      }
    }
  }
  .navbar-toggle{
    padding: 2px 0;
    background: transparent;
    border: none;
    &:hover {
      background: transparent;
    }
  }
  .hamburger {    
    .line{
      width: 30px;
      height: 3px;
      background-color: $black;
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .line:nth-child(2){
      opacity: 0;  
    }    
    .line:nth-child(1){
      -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      -o-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    .line:nth-child(3){
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
}
@media(max-width: $breakpoint-sm){
  .layout-component {
    padding-top: $header-height;
  }
  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 89;
    height: $header-height;
    top: 0;
    box-shadow: 0 3px 5px rgba(150,157,174,0.2), 0 1px 0 #fff;
    border-bottom: none;
    .navbar-form.search-box {
      position: relative;
      .form-group{
        margin-right: 36px;
      }
      .btn{
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
  }
  .navbar-default .navbar-collapse {
    position: fixed;
    z-index: 78;
    background: #fff;
    left: 0;
    right: 0;
  }
  .primary-menu {

    li {
      border-top: 1px dotted $border-color;
    }
  }
}