// Variables
@import '../styles/_variables';


.page-portfolio{
  font-family: $monospace;
	
  color: #82888a;
  .header {
  	padding-top: 30px;
	  .navbar.navbar-default {
	    background: transparent;
	    li {
	    	a {
	    		text-transform: capitalize;
	    		font-family: $monospace;
	    	}
	    }
	    .current-menu-item {
	    	a {
	    		color: $primary-color;
	    	}
	    }
	  }
  }
  + #footer {    
    .footer {
      background: #2C2D31;  
    }
  }
  .sweat-logan {
  	text-align: center;  	
  	margin: 0 auto 10px;
  	&:before,
  	&:after {
  		    font-size: 22px;
	    font-weight: bold;
	    display: inline-block;
	    padding: 0 0.25em;
	    color: #42454c;
  	}
  	&:before {
  		content: '\230A';
  	}
  	&:after {
  		content: '\2309';
  		vertical-align: sub;

  	}
  }
  .filter-block {
  	text-align: center;
  	margin-bottom: 30px;
  }
  .badge {
  	cursor: pointer;
  }
  /* Effect 1: Brackets */
	.badge-filter::before,
	.badge-filter::after {
	  display: inline-block;
	  opacity: 0;
	  color: $primary-color;
	  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
	  transition: transform 0.3s, opacity 0.2s;
	}

	.badge-filter::before {

	  content: '[';
	  -webkit-transform: translateX(20px);
	  -moz-transform: translateX(20px);
	  transform: translateX(20px);
	  font-family: Tahoma, sans-serif;
	}

	.badge-filter::after {

	  content: ']';
	  -webkit-transform: translateX(-20px);
	  -moz-transform: translateX(-20px);
	  transform: translateX(-20px);
	  font-family: Tahoma, sans-serif;
	}

	.badge-filter:hover::before,
	.badge-filter:hover::after,
	.badge-filter:focus::before,
	.badge-filter:focus::after {
	  opacity: 1;
	  -webkit-transform: translateX(0px);
	  -moz-transform: translateX(0px);
	  transform: translateX(0px);

	}
}
.not-found-container {
	flex-grow: 1;
}
.not-found-block {
	text-align: center;
	padding-top: 160px;
	padding-bottom: 160px;
	margin: 0 auto;
	
	i {
		font-size: 120px;
		color: $secondary-color;
	}
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* Grid */

.grid {
	position: relative;
	z-index: 2;
	display: block;
	margin: 0 auto;
}

.grid--hidden {
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	opacity: 0;
}

.grid--loading:before,
.grid--loading:after {
	content: '';
	z-index: 1000;
}

.grid--loading:before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #2c2d31;
}
@keyframes animLoader {
	to { transform: rotate(360deg); }
}
.grid--loading:after {
	position: absolute;
	top: calc(25vh - 20px);
	left: 50%;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -20px;
	border: 8px solid #383a41;
	border-bottom-color: #565963;
	border-radius: 50%;
	animation: animLoader 0.8s linear forwards infinite;
}

.grid__sizer {
	margin-bottom: 0 !important;
}

.grid__link,
.grid__img {
	display: block;
}

.grid__img {
	width: 100%;
}

.grid__deco {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.grid__deco path {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
}

.grid__reveal {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background-color: #2c2d31;
}

.grid .grid__item,
.grid .grid__sizer {
	/* width: calc(50% - 20px);
	margin: 0 10px 20px; */
}

