@import "../../styles/_variables";
@import "../../styles/_function";

.search-wrapper {
  position: absolute;
  top: 15%;
  right: 35px;
  width: calc(100% - 1300px);
  z-index: 1;
  margin: 0;
}
.search__container {
  position: relative;
}
.search__input {
  border-radius: 0;
  display: block;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $border-color;
  &:hover,
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}
.search__list {
  box-sizing: border-box;
  z-index: 1;
  max-height: 300px;
  overflow: auto;
  @include scroll;
}
.item-search {
  padding: 0 12px;
  .link {
    &:hover,
    &:focus {
      outline: none;
      color: $primary-color;
    }
  }
}

.search_clear {
  border: none;
  background: transparent;
  position: absolute;
  z-index: 7;
  cursor: pointer;
  right: 7px;
  top: 12px;
  &:hover,
  &:focus {
    outline: none;
    color: $primary-color;
  }
}
