.icon {
  color: black;
  margin: 0.5em;
  cursor: pointer;
}
.dropdown-content {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
  }
  &::-webkit-scrollbar-corner {
    background: #242427;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 999em;
  }
}
